<div class="col-md-4">
<h3>{{product.title}}</h3>
<img class="thumbnail" src={{product.image}}>
<h4>Ksh {{product.cost}}</h4>
<p>{{product.description}}</p><br>
<button class="btn btn-success"{{action 'addToCart' product}}><span class="glyphicon glyphicon-shoppingcart">Add to Cart</span></button>
<hr>
</div>
