<!-- start tshirt -->
<div id="tshirts" class="product-tshirt">
  <div class="container">
    <h1>Tshirt</h1>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk3.jpg" alt=""></div>
        <div class="panel-footer">T SHIRT 5.OO$</div>
      </div>
      <button class="btn btn-success" value="30.00" {{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart"> Add-To-Cart</span></button>

    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk5.jpg" alt=""></div>
        <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
      </div>
      <button class="btn btn-success" value="30.00"{{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart"> Add-To-Cart</span></button>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk8.jpg" alt=""></div>
        <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
      </div>
      <button class="btn btn-success" value="30.00" {{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart"> Add-To-Cart</span></button>
    </div>

  </div>
</div>
<!-- end tshirt -->

<!-- Hoodies Start  -->
<div id="hoodies" class="product-hoodies">
  <div class="container">
    <h1>Hoodies</h1>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk1.jpg" alt=""></div>
        <div class="panel-footer">T SHIRT 5.OO$</div>
      </div>
      <button class="btn btn-success" value="5.00" {{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart"> Add-To-Cart</span></button>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk2.jpg" alt=""></div>
        <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
      </div>
      <button class="btn btn-success" value="30.00" {{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart"> Add-To-Cart</span></button>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk4.jpg" alt=""></div>
        <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
      </div>
      <button class="btn btn-success" value="30"{{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart"> Add-To-Cart</span></button>
    </div>

  </div>
</div>
<!-- Hoodies End -->
<!-- Accessories -->
<div id="accessories" class="product-accessories">
  <div class="container">
    <h1>Accessories</h1>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk3.jpg" alt=""></div>
        <div class="panel-footer">T SHIRT 5.OO$</div>
      </div>
      <button class="btn btn-success" value="5"{{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart">Add To Cart</span></button>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk5.jpg" alt=""></div>
        <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
      </div>
      <button class="btn btn-success" value="30" {{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart">Add To Cart</span></button>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">SIZE</div>
        <div class="panel-body"><img src="../images/mk8.jpg" alt=""></div>
        <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
      </div>
      <button class="btn btn-success" value="30"{{action 'addToCart' product}}><span class="glyphicon glyphicon-shopping-cart">Add To Cart</span></button>
    </div>

  </div>
</div>
<hr>
<!-- Accessories End -->
